.review-card {
  background-color: #dcdcdc;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.user-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.user-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.username {
  font-size: 16px;
  font-weight: bold;
}

.review-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.review-text {
  font-size: 14px;
  margin-bottom: 10px;
}

.rating-stars {
  font-size: 14px;
  font-weight: bold;
  color: #a48b27;
}
