.booking-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 16px;
  width: 70%;

  .booking-card__hotel {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    // gap: rem;

    &-booking-status {
      border: none;
      outline: none;
      background-color: #fff;
      font-size: 1.4rem;
      font-weight: 600;
      color: #007bff;
      cursor: pointer;
      display: flex;

      &:hover {
        color: #0056b3;
      }
      &-label {
        font-weight: 600;
        margin-right: 4px;
        color: black;
      }
      &-status {
        font-weight: 600;
        margin-right: 4px;
        font-size: 1.2rem;
      }
    }
  }
  .booking-card__review {
    padding: 9px;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    .reviewbutton {
      border: none;
      outline: none;
      min-width: 80px;
      letter-spacing: 1px;
      background-color: rgb(5, 35, 35);
      padding: 10px;
      border-radius: 20px;
      font-size: 1.3rem;
      cursor: pointer;
      color: white;
    }
  }
  .booking-card__logo {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
  }

  .booking-card__hotel-info {
    flex-grow: 1;
  }

  .booking-card__hotel-name {
    font-size: 18px;
    margin-bottom: 4px;
  }

  .booking-card__hotel-address {
    font-size: 14px;
    color: #777;
  }

  .booking-card__details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }

  .booking-card__detail {
    display: flex;
    align-items: center;
  }

  .booking-card__label {
    font-weight: 600;
    margin-right: 4px;
  }

  .booking-card__value {
    font-size: 14px;
    color: #333;
  }
}

.booking-page__title {
  font-size: 24px;
  margin-bottom: 16px;
}

.booking-page__list {
  display: grid;
  gap: 16px;
}

.booking-card__hotel__info-bookingedit {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  gap: 1rem;
  align-self: flex-end;
}

.booking-card__button {
  border: none;
  outline: none;
  min-width: 80px;
  letter-spacing: 1px;
  background-color: rgb(5, 35, 35);
  padding: 10px;
  border-radius: 20px;
  font-size: 1.3rem;
  cursor: pointer;
  color: white;
}

@media screen and (max-width: 768px) {
  .booking-card {
    width: 90%;
    .booking-card__review {
      .reviewbutton {
        font-size: 0.7rem;
      }
    }
  }

  .booking-card__hotel-name {
    font-size: 16px;
    margin-bottom: 4px;
  }

  .booking-card__hotel-address {
    font-size: 12px;
    color: #777;
  }

  .booking-card__label {
    font-weight: 600;
    margin-right: 4px;
    font-size: 17px;
  }

  .booking-card__value {
    font-size: 12px;
    color: #333;
  }
  .booking-card__button {
    font-size: 0.7rem;
  }
}
