.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 4rem;

  h2 {
    margin-bottom: 20px;
  }

  .profilewrapper {
    width: 70%;
    padding: 40px 30px;
    background-color: #ebe9e9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    animation: cardAnimation 5s alternate infinite ease-in-out;
    transform-origin: center;

    @keyframes cardAnimation {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(0.98);
      }
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;

      .info-row {
        &:hover {
          background-color: #f8f8f8;
        }
      }

      .info-label {
        font-weight: bold;
        padding-right: 10px;
        width: 150px;
      }

      .info-value {
        position: relative;
        display: flex;
        align-items: center;
        padding: 10px 0;

        .profile-image {
          width: 100px;
          height: 100px;
          object-fit: cover;
          border-radius: 50%;
          margin-right: 10px;
          border: 2px solid #ddd;
        }

        input[type="file"] {
          margin-right: 10px;
        }
      }

      .edit-button {
        padding: 5px 10px;
        background-color: #ddd;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 14px;
        transition: background-color 0.3s;

        &:hover {
          background-color: #bbb;
        }
      }
    }
  }

  .button {
    border: none;
    outline: none;
    padding: 9px;
    background-color: green;
    color: white;
    margin-top: 20px;
    width: 50%;
    border-radius: 20px;
    transition: background-color 0.3s;
    animation: cardAnimation 3s alternate infinite ease-in-out;

    &:disabled {
      background-color: lightgray;
      cursor: not-allowed;
    }

    &:hover:not(:disabled) {
      background-color: darkgreen;
    }
  }

  @media screen and (max-width: 480px) {
    .profilewrapper {
      max-width: 100%;
    }
  }
}
