.searchitem {
  width: 100%;
  box-shadow: 2px 5px 12px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  margin: 2rem 0;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .si-container {
    display: flex;
    flex-wrap: wrap;

    .si-img {
      flex: 1;
      overflow: hidden;
      border-radius: 10px;
      width: 100%;
      height: 200px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .si-info {
      flex: 1;
      padding: 0 0.8rem;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .si-title {
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 2rem;
        color: rgb(5, 29, 29);
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .category {
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 1.5rem;
        color: rgb(48, 68, 68);
      }

      .si-distance {
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1.5rem;
        color: rgb(5, 34, 34);
      }

      .si-amenities {
        border: none;
        outline: none;
        background-image: linear-gradient(
          to right,
          rgb(153, 64, 155),
          rgb(74, 122, 167),
          rgb(0, 212, 255)
        );
        padding: 0.3rem;
        border-radius: 10px;
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1.5rem;
        color: rgb(245, 245, 245);
        animation: focus 1.5s linear infinite;
      }

      .si-Features {
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 1.5rem;
        color: rgb(40, 78, 78);
      }
    }

    .si-details {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .si-details-top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .si-grading {
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 1.5rem;
          color: rgb(5, 34, 34);
        }

        .si-rating {
          font-size: 1.2rem;
          font-weight: 500;
          line-height: 1.5rem;
          color: white;
          padding: 5px;
          border-radius: 10px;
          background-color: rgb(5, 34, 34);
        }
      }

      .si-details-bottom {
        display: flex;
        align-items: center;
        gap: 1rem;

        .si-starting-price {
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 1.5rem;
          color: rgb(5, 34, 34);
        }

        .si-booking {
          font-size: 1.4rem;
          border: none;
          background-color: green;
          border-radius: 20px;
          padding: 5px;
          color: white;
          cursor: pointer;
        }
      }
    }
  }

  // Responsive styles
  @media (max-width: 768px) {
    .si-container {
      flex-direction: column;
      gap: 1rem;
      width: 80%;

      .si-img {
        width: 100%;
        height: auto;
        max-height: 300px;
      }

      .si-info {
        flex: 1;
        padding: 0;
      }

      .si-details {
        flex: 1;
      }
    }

    .si-details-bottom {
      flex-direction: row;
      align-items: center;
      gap: 1rem;

      .si-starting-price {
        font-size: 1.2rem;
      }
    }
  }
}

// Animation for search item
@keyframes focus {
  0% {
    filter: hue-rotate(0deg) brightness(90%) saturate(100%);
  }
  50% {
    filter: hue-rotate(180deg) brightness(100%) saturate(100%);
  }
  100% {
    filter: hue-rotate(360deg) brightness(100%) saturate(100%);
  }
}
