.privacy-policy-page {
  .privacy_policy_container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    display: flex;
    flex-direction: column;

    .title {
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 20px;
    }

    .box {
      margin-bottom: 40px;
      border-bottom: 5px dotted #ccc;
      box-shadow: 1px 1px 1px black;

      .section-title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
      }

      .section-text {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 10px;
      }

      .quote {
        font-size: 18px;
        font-style: italic;
        color: #888;
        margin-top: 20px;
      }

      .list {
        list-style-type: disc;
        margin-left: 20px;
        margin-bottom: 10px;
      }
    }

    .link {
      color: blue;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }

    .important {
      font-size: 14px;
      color: #888;
      text-align: center;
      margin-top: 40px;
    }
  }
}
