.company-info {
  margin-top: 20px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 5px;

  h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .info-sections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;

    .awards-section,
    .partnerships-section,
    .values-section {
      background-color: #ffffff;
      padding: 10px;
      border-radius: 5px;

      h4 {
        font-size: 18px;
        margin-bottom: 10px;
      }

      ul {
        list-style-type: disc;
        margin-left: 20px;
        margin-bottom: 0;

        li {
          margin-bottom: 10px;
        }
      }
    }
  }
}
