.navbar {
  background-color: #f1f1f1;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 999;
}

.nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  text-decoration: none;
  color: #333;
}

.nav_logo {
  padding: 10px;
  font-size: 20px;
}

.nav_menu {
  display: flex;
  align-items: center;
}

.nav_links {
  display: flex;
  align-items: center;
}

.nav_link {
  padding: 10px;
}

.user_image {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.menu_icon {
  display: none;
  cursor: pointer;
}

.menu_content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #f1f1f1;
  padding: 10px;
  z-index: 1;
}

.menu_links {
  display: flex;
  flex-direction: column;
}

.menu_link {
  padding: 10px;
  color: #333;
  text-decoration: none;
  transition: all 0.3s ease;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .menu_icon {
    display: block;
  }

  .nav_links {
    display: none;
  }

  .menu_content {
    display: none;
  }

  .menu_content.open {
    display: block;
  }
}
