.footer {
  width: 100%;
  background-color: #0c0c2c;
  color: white;

  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .footer-top-section {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 2rem;

      .footer-top-section_left {
        flex: 1;

        h1 {
          font-size: 2rem;
          font-weight: 800;
          letter-spacing: 1px;

          span {
            color: rgb(29, 91, 91);
            font-size: 4rem;
            margin-right: 1rem;
          }
        }

        .F_email_input {
          margin-top: 1rem;

          input {
            width: 100%;
            height: 40px;
            background-color: #0c0c2c;
            border: none;
            outline: none;
            font-size: 1rem;
            color: white;
            padding: 0 1rem;
            margin-bottom: 1rem;
          }

          .F_email_btn {
            width: 70%;
            height: 40px;
            background-color: #01bf71;
            border: none;
            outline: none;
            font-size: 1rem;
            color: white;
            cursor: pointer;
            font-weight: 600;
            border-radius: 10% 5% 10% 60%;
            margin: 0 0 0 1rem;

            &:hover {
              transform: scale(1.03);
            }
          }
        }
      }

      .footer-top-section_right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .f-chat {
          text-align: center;

          h2 {
            font-size: 2rem;
            font-weight: 500;
            text-shadow: 1px 2px 3px teal;
          }
        }

        .F_contacts {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          margin-top: 1rem;
          gap: 1rem;

          .F_contact_ {
            text-align: right;

            h3 {
              text-shadow: 0.5px 0.5px 20px white, 0.5px 0.5px 13px teal;
            }
          }
        }
      }
    }

    hr {
      width: 100%;
      height: 1px;
      background-color: white;
      margin: 1rem 0;
      border: none;
    }

    .footer-mid-section {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2rem;

      .fm-deal-gallery {
        flex: 1;
        background-color: white;
        padding: 2rem;
        display: none;
      }

      .fm-right {
        flex: 3;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        .fm-social-contact {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 1rem;

          h2 {
            font-size: 1.5rem;
            font-weight: 500;
            margin-bottom: 0.7rem;
          }

          .fm-social-icons {
            display: flex;
            gap: 1rem;

            .fm-social-icon {
              border: 1px solid white;
              padding: 0.5rem;
              border-radius: 50%;

              .fmc-icon {
                color: white;
                font-size: 1.5rem;
              }
            }
          }
        }

        .fm-info {
          display: flex;
          gap: 3rem;

          .fm-resource,
          .fm-product-help {
            h2 {
              font-size: 1.5rem;
              font-weight: 500;
              margin-bottom: 0.7rem;
            }

            .link {
              color: white;
              text-decoration: none;
              margin: 0 1rem;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }

    hr {
      width: 100%;
      height: 1px;
      background-color: white;
      margin: 1rem 0;
      border: none;
    }

    .footer-bottom-section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2rem 0;

      .fb-info {
        p {
          font-size: 0.8rem;
          margin-bottom: 0.7rem;
        }

        .consumer {
          color: teal;
          text-decoration: none;
          margin-left: 1rem;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    @media screen and (max-width: 1024px) {
      .footer-top-section {
        flex-direction: column;

        .footer-top-section_left {
          text-align: center;
          margin-bottom: 1rem;

          h1 {
            font-size: 1.5rem;

            span {
              font-size: 2.5rem;
              margin-right: 0.5rem;
            }
          }
        }

        .footer-top-section_right {
          align-items: center;

          .F_contacts {
            flex-direction: row;
            align-items: center;
            margin-top: 0;

            .F_contact_ {
              margin-right: 1rem;

              h3 {
                font-size: 1rem;
              }
            }
          }
        }
      }

      .footer-mid-section {
        flex-direction: column;

        .fm-deal-gallery {
          margin-bottom: 1rem;
        }

        .fm-right {
          align-items: flex-start;

          .fm-info {
            flex-direction: column;
            gap: 1.5rem;
          }
        }
      }

      .footer-bottom-section {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;

        .fb-info {
          text-align: center;
          margin-bottom: 1rem;
        }
      }
    }

    @media screen and (max-width: 768px) {
      .footer-top-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        .footer-top-section_left {
          h1 {
            font-size: 1.2rem;

            span {
              font-size: 2rem;
              margin-right: 0.3rem;
            }
          }
        }

        .footer-top-section_right {
          .F_contacts {
            .F_contact_ {
              h3 {
                font-size: 0.8rem;
              }
            }
          }
        }
      }

      .footer-mid-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        .fm-right {
          display: flex;
          flex-direction: column;
          align-items: center;
          .fm-info {
            .fm-resource,
            .fm-product-help {
              h2 {
                font-size: 1rem;
                text-align: center;
              }
            }
          }
        }
      }

      .footer-bottom-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        font-size: 1.3rem;
        .fb-info {
          p {
            font-size: 1.3rem;
          }

          .consumer {
            margin-left: 0.5rem;
          }
        }
      }
    }
  }
}
