$button-text-color: #000;
$button-background-color: #ffffff;
$button-icon-color: #333333;
$button-hover-background-color: #f0f0f0;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.link {
  text-decoration: none;
  color: $button-text-color;
}

.back-button {
  position: fixed;
  top: 60%;
  right: 20px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: $button-background-color;
  border-radius: 50%;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  cursor: pointer;

  @media (max-width: 768px) {
    top: 40%;
  }
}

.back-button svg {
  width: 24px;
  height: 24px;
  fill: $button-icon-color;
}

.back-button:hover {
  background-color: $button-hover-background-color;
}
