.not-found-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #cfd9df 0%, #e2ebf0 100%);
}
.not-found-page h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.not-found-page p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.penguin {
  width: 200px;
  height: 200px;
  margin-top: 50px;
}

.not-found-page p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.not-found-page .penguin {
  margin-left: 20px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: jump 3s ease-in-out infinite;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
